.nav {
  display: flex;
  color: var(--white);
  padding-top: 1rem;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  position: relative;
  max-width: 1640px;
  width: 87.5%;
  margin: auto;
}

.navList {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navList li {
  cursor: pointer;
  font-size: var(--font-medium);
}
